In [31]:
import pandas as pd

with open('history.txt', 'r') as f:
    lines = f.readlines()

print('Num lines: ', len(lines))

parsed_data = []
for line in lines:
    parts = line.split('\t')


    if len(parts) < 4:
        print('bad line= ', line)
        continue  # skip bad or incomplete lines

    node_id = int(parts[0])
    status = parts[1].lstrip(':')
    operation = parts[2].lstrip(':')
    value = parts[3]

    if value:
        value = value.strip()

    value = None if value == 'nil' else int(value)

    parsed_data.append({
        'node_id': node_id,
        'status': status,
        'operation': operation,
        'value': value
    })

print('Parsed: ', len(parsed_data))

df = pd.DataFrame(parsed_data)
print('=============')
print('DataFrame: ')
display(df.head())

Num lines:  8274
Parsed:  8274
=============
DataFrame:

   node_id  status operation  value
0        0  invoke  generate    NaN
1        2  invoke  generate    NaN
2        0      ok  generate    0.0
3        2      ok  generate    0.0
4        0  invoke  generate    NaN

In [33]:
# First, drop rows where 'value' is NaN, because NaN != NaN
df_no_nan = df.dropna(subset=['value'])

print('Len without NaN', len(df_no_nan))

# Then, find duplicates based on both 'node_id' and 'value'
duplicates = df_no_nan[df_no_nan.duplicated(subset=['node_id', 'value'], keep=False)]

print(duplicates)

Len without NaN 4137
Empty DataFrame
Columns: [node_id, status, operation, value]
Index: []